@font-face {
    font-family: "young-serif-regular";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "outfit-regular";
    src: url(../assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: "outfit-semibold";
    src: url(../assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: "outfit-bold";
    src: url(../assets/fonts/outfit/static/Outfit-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #f3e5d7;
    font-family: "outfit-regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5F564D;
}

.body {
    width: 738px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 24px;
    background-color: #ffffff;
}

.image {
    width: 656px;
    border-radius: 12px;
    overflow: hidden;
    height: 300px;
}

.image img {
    width: 100%;
    transition: 1s;
}

.image img:hover {
    transform: scale(1.5);
    transition: 1s;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: "young-serif-regular";
    line-height: 40px;
    margin: 40px 0 24px 0;
    transition: 1s;
}

h1:hover {
    text-shadow: 2px 2px 2px #0000007f;
    transition: 1s;
}

.h2 {
    font-size: 20px;
    font-family: "outfit-semibold";
    line-height: 20px;
    color: #7A284E;
    font-weight: 600;
    margin: 0px 28px 16px 0;
}

span {
    font-family: "outfit-regular";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5F564D;
}

.spanbold {
    font-family: "outfit-bold";
    font-weight: 700;
}

h3 {
    color: #854632;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    font-family: "young-serif-regular";
    transition: 0.5s;
    border: #ffffff00 solid 1px;
    margin: 30px 40px 22px 0px;
    padding-bottom: 8px;
}

h3:hover {
    border-bottom: #8545324f solid 1px;
    width: auto;
    transition: 0.5s;
}

ul,
ol {
    margin-left: 14px;
}

ul li {
    padding-left: 20px;
}

ul li::marker {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 4px;
    margin: 4px;
}

ul li:hover::marker {
    content: "\2023";
    font-size: 26px;
    line-height: 16px;

}

.purpure ul li::marker {
    color: #7A284E;
}

.broun ul li::marker {
    color: #854632;
}

.number {
    color: #854632;
    margin-right: 16px;
    font-weight: 700;
}

.flex p {
    margin-top: 8px;
}

.table {
    width: 100%;
    padding: 0 32px;
    margin: 24px 0 0 0;
    color: #5F564D;
}

.tablerow {
    padding: 12px 0 12px 32px;
    font-family: "outfit-regular";

}

.border-td {
    border-bottom: 1px solid #E3DDD7;
}

hr {
    color: #E3DDD7;
    margin-top: 32px;
}

.divpurpure {
    background-color: #FFF7FB;
    border-radius: 12px;
    padding: 28px;
    margin-top: 32px;
}

.attribution {
    margin-top: 40px;
    text-align: center;
}

.letter {
    display: inline-block;
    transition: 3s;

}

.name:hover .letter {
    transform: rotate(360deg);
    transition: 3s ease-in-out;
}

.name {
    transition: 3s;
    font-size: 18px;
    margin: 0 auto;
}

.name span {
    color: #781286;
    font-family: "outfit-semibold";
    font-size: 18px;
}

.flex {
    display: flex;
}

.table h2 {
    margin-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.table hr {
    width: 100%;
    height: 1px;
    color: #d3d3d3;
    margin-top: 12px;
    margin-bottom: 12px;
}

.border-td {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.border-td .spanpurpure {
    color: #854632;
    font-weight: 800;
    width: 40%;
}

@media only screen and (max-width: 375px) {
    body {
        padding: 0;
        width: 100vw;
    }

    .image {
        width: 100%;
        border-radius: 0px;
        height: 170px;
    }

    .image img {
        width: 100%;
    }

    .body {
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    .main {
        padding: 40px 32px;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
        margin-top: 0;
    }

    h2 {
        font-size: 20px;
        line-height: 20px;
    }

    h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .table {
        padding: 0;
    }
}

@media only screen and (min-width: 1440px) {
    body 
    {
        padding-top: 124px;
        padding-bottom: 64px;
    }
}